In [1]:
import pandas as pd
import numpy as np
from copy import deepcopy
from traceback import format_exc
# from pprint import pprint
import the_networks_of_war_python_functions

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
csv_directory = '/Users/the_networks_of_war/data_sources/csvs/'
csv_output_directory = '../../assets/the_networks_of_war/'
pickle_directory = '/Users/the_networks_of_war/data_sources/pickles/'

## Setup for Identifying Countries by Code
### Note: This is helpful for when different names are used for the same country.

In [4]:
c_code_dic = the_networks_of_war_python_functions.define_c_code_dic()

Total Country Codes: 217

## Integrating Descriptive Data (Defined in Outside Notebook)

### Merging Participant Data with Participant-Level Descriptive Data

In [5]:
part_df = pd.read_pickle(pickle_directory + 'initial_part_df.pkl')
dyad_df = pd.read_pickle(pickle_directory + 'initial_dyad_df.pkl')
war_df = pd.read_pickle(pickle_directory + 'initial_war_df.pkl')

In [6]:
descriptive_df_1 = pd.read_pickle(pickle_directory + 'participant_descriptive_df.pkl')

descriptive_df_1.rename({'year': 'start_year'}, axis=1, inplace=True)
part_df = deepcopy(pd.merge(part_df, descriptive_df_1, how='left', on=['c_code', 'start_year']))

descriptive_df_1.rename({'start_year': 'end_year'}, axis=1, inplace=True)
part_df = deepcopy(pd.merge(part_df, descriptive_df_1, how='left', on=['c_code', 'end_year']))

### Merging Dyadic Data with Dyadic-Level Descriptive Data

In [7]:
part_df[part_df['c_code']<=0]

,war_num,war_name,war_type_code,c_code,participant,side,battle_deaths,start_date,start_year,end_date,end_year,days_at_war,ongoing_participation,total_deaths_both_sides,peak_forces_available,peak_battle_forces,war_type,war_sub_type,alliances_x,defense_alliances_x,entente_alliances_x,neutrality_alliances_x,money_flow_in_x,money_flow_out_x,imports_x,exports_x,military_expenditure_x,military_personnel_x,iron_steel_production_x,prim_energy_consumption_x,total_population_x,urban_population_x,urban_pop_growth_rate_x,cinc_score_x,alliances_y,defense_alliances_y,entente_alliances_y,neutrality_alliances_y,money_flow_in_y,money_flow_out_y,imports_y,exports_y,military_expenditure_y,military_personnel_y,iron_steel_production_y,prim_energy_consumption_y,total_population_y,urban_population_y,urban_pop_growth_rate_y,cinc_score_y
339,504.30000,Sidon-Damascus War of 1821-1822,6.00000,-8.00000,Damascus and Aleppo,1.00000,1200.00000,1821-05-21,1821.00000,1822-07-30,1822.00000,436,0.00000,1240.00000,nan,nan,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
341,507.00000,Egypt-Mehdi War of 1824,6.00000,-8.00000,Egypt,1.00000,nan,1824-03-23,1824.00000,1824-04-14,1824.00000,23,0.00000,4000.00000,nan,8000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
348,516.00000,Egyptian Taka Expedition of 1831,6.00000,-8.00000,Egypt,1.00000,1500.00000,1831-01-01,1831.00000,1831-01-01,1831.00000,1,0.00000,2000.00000,100000.00000,6000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
354,521.00000,Palestinian Anti-Conscription Revolt of 1834,6.00000,-8.00000,Egypt,1.00000,2000.00000,1834-05-19,1834.00000,1834-08-01,1834.00000,75,0.00000,4000.00000,nan,6000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
367,532.00000,Druze Rebellion of 1837-1838,6.00000,-8.00000,Egypt,1.00000,15000.00000,1837-09-27,1837.00000,1838-08-22,1838.00000,330,0.00000,17000.00000,157000.00000,nan,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
371,535.00000,Lebanon Insurgency of 1840,6.00000,-8.00000,Egypt,1.00000,nan,1840-05-27,1840.00000,1840-07-31,1840.00000,66,0.00000,1000.00000,247000.00000,44000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
379,541.20000,First Maronite-Druze War of 1841,7.00000,-8.00000,Maronites,1.00000,390.00000,1841-10-13,1841.00000,1841-11-19,1841.00000,38,0.00000,1363.00000,nan,6000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
381,543.00000,Second Maronite-Druze War of 1845,7.00000,-8.00000,Maronites,1.00000,700.00000,1845-04-30,1845.00000,1845-05-31,1845.00000,32,0.00000,1050.00000,nan,11000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
384,545.00000,Mayan Caste War phase 1 of 1847-1848,6.00000,-8.00000,Yucatan,1.00000,2800.00000,1847-01-15,1847.00000,1848-08-16,1848.00000,580,0.00000,4300.00000,nan,17250.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
412,566.00000,Third Maronite-Druze War of 1860,7.00000,-8.00000,Maronites,1.00000,2000.00000,1860-05-26,1860.00000,1860-07-12,1860.00000,48,0.00000,3000.00000,nan,50000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
422,577.00000,Minnesota-Sioux- War of 1862,6.00000,-8.00000,Minnesota,1.00000,608.00000,1862-08-17,1862.00000,1862-09-29,1862.00000,44,0.00000,1121.00000,nan,7000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
434,586.50000,Kashgar-Khotan War of 1867,7.00000,-8.00000,Kashgar,1.00000,nan,1867-01-01,1867.00000,1867-02-01,1867.00000,32,0.00000,2000.00000,nan,7000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
441,592.70000,First Kashgarian - Tungan War of 1870,7.00000,-8.00000,Kashgarians,1.00000,nan,1870-01-01,1870.00000,1870-11-01,1870.00000,305,0.00000,1000.00000,nan,20000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
445,596.70000,Second Kashgarian - Tungan War of 1871-1872,7.00000,-8.00000,Kashgarians,1.00000,nan,1871-12-01,1871.00000,1872-08-01,1872.00000,245,0.00000,1000.00000,nan,40000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
517,676.00000,First Yunnan-Sichuan War of 1917,6.00000,-8.00000,Sichuan,1.00000,nan,1917-04-18,1917.00000,1917-08-02,1917.00000,107,0.00000,3000.00000,nan,25000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
522,681.00000,Western Ukrainian War of 1918-1919,6.00000,-8.00000,Western Ukraine,1.00000,1500.00000,1918-12-01,1918.00000,1919-02-13,1919.00000,75,0.00000,2500.00000,nan,nan,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
523,682.00000,Sparticist Rising of 1919,7.00000,-8.00000,Freikorps,1.00000,100.00000,1919-01-06,1919.00000,1919-05-03,1919.00000,118,0.00000,3000.00000,nan,30000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
525,684.00000,Second Yunnan-Sichuan War of 1920,6.00000,-8.00000,Sichuan,1.00000,nan,1920-05-23,1920.00000,1920-12-01,1920.00000,193,0.00000,2000.00000,nan,100000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
528,685.00000,Zhili-Anfu War of 1920,7.00000,-8.00000,An-Fu Faction,1.00000,nan,1920-07-14,1920.00000,1920-07-23,1920.00000,10,0.00000,1000.00000,nan,25000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
532,688.00000,Italian Fascist War of 1920-1922,7.00000,-8.00000,Blackshirts,1.00000,300.00000,1920-10-01,1920.00000,1922-10-01,1922.00000,731,0.00000,3300.00000,nan,200000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
543,697.80000,Labrang War of 1925-1926,7.00000,-8.00000,Golok Tibetans,1.00000,600.00000,1925-06-15,1925.00000,1926-01-01,1926.00000,201,0.00000,1000.00000,nan,40000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
544,698.00000,Anti-Fengtien War of 1925-1926,7.00000,-8.00000,Guominjun,1.00000,nan,1925-11-23,1925.00000,1926-04-21,1926.00000,150,0.00000,5000.00000,nan,450000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
548,702.00000,First KMT-CCP War of 1927,7.00000,-8.00000,GMD,1.00000,nan,1927-08-01,1927.00000,1927-12-13,1927.00000,135,0.00000,2000.00000,nan,356000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
558,711.00000,Kumul Rebellion of 1931-1932,6.00000,-8.00000,Xinjiang,1.00000,nan,1931-04-04,1931.00000,1932-02-01,1932.00000,304,0.00000,3000.00000,nan,5000.00000,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
565,715.60000,Xinjiang Hui-Uyghur War of 1933-1934,7.00000,-8.00000,Hui,1.00000,nan,1933-05-18,1933.00000,1934-04-12,1934.00000,330,0.00000,1000.00000,nan,5300.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
630,772.00000,Cultural Revolution phase 1 of 1967,6.00000,-8.00000,Regional Militaries,1.00000,nan,1967-01-09,1967.00000,1967-09-04,1967.00000,239,0.00000,10000.00000,nan,nan,Intra-State War,Regional/Internal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
646,788.00000,Eritrean Split of 1972-1974,7.00000,-8.00000,ELF,1.00000,nan,1972-02-01,1972.00000,1974-10-13,1974.00000,986,0.00000,3000.00000,nan,10000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
657,801.00000,Second Lebanese War of 1975-1976,7.00000,-8.00000,Maronite militias,1.00000,nan,1975-04-13,1975.00000,1975-04-16,1975.00000,4,0.00000,15000.00000,nan,45100.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
670,807.00000,Third Lebanese War of 1978,7.00000,-8.00000,Lebanese Forces,1.00000,1500.00000,1978-02-08,1978.00000,1978-10-04,1978.00000,239,0.00000,3134.00000,nan,12000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
712,846.00000,Inkatha-ANC War of 1987-1994,7.00000,-8.00000,Inkatha,1.00000,nan,1987-12-20,1987.00000,1994-04-26,1994.00000,2320,0.00000,13000.00000,nan,10000.00000,Intra-State War,Intercommunal,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,449.00000,Rif Rebellion,2.00000,-8.00000,Riffs,2.00000,10000.00000,1921-06-01,1921.00000,1926-05-27,1926.00000,1822,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1675,450.00000,Moplah Rebellion,2.00000,-8.00000,Muslim Moplahs,2.00000,2400.00000,1921-08-20,1921.00000,1922-02-01,1922.00000,166,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1676,451.00000,Franco-Druze,2.00000,-8.00000,Druze,2.00000,2000.00000,1925-07-18,1925.00000,1927-05-27,1927.00000,679,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1677,452.00000,Yen Bai Uprising,2.00000,-8.00000,Vietnamese Nationalists,2.00000,1000.00000,1930-02-09,1930.00000,1931-01-01,1931.00000,327,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1678,453.00000,Saya San's Rebellion,2.00000,-8.00000,Peasant Rebels,2.00000,1000.00000,1930-12-22,1930.00000,1932-06-01,1932.00000,528,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1679,454.00000,British-Palestinian,2.00000,-8.00000,Palestinians,2.00000,2450.00000,1936-04-20,1936.00000,1936-10-01,1936.00000,165,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1680,455.00000,Second British-Waziristan,3.00000,-8.00000,Pathan tribes,2.00000,10000.00000,1936-11-25,1936.00000,1938-01-08,1938.00000,410,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1681,456.00000,Indonesian,2.00000,-8.00000,Indonesia,2.00000,3600.00000,1945-11-10,1945.00000,1946-10-15,1946.00000,340,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1682,457.00000,French-Indochina,2.00000,-8.00000,Vietminh,2.00000,175000.00000,1946-11-20,1946.00000,1954-06-01,1954.00000,2751,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1683,459.00000,Third Franco-Madagascan,2.00000,-8.00000,Madagascar,2.00000,11200.00000,1947-03-29,1947.00000,1948-12-01,1948.00000,614,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1684,460.00000,Malayan Rebellion,2.00000,-8.00000,Malayan Communists,2.00000,6700.00000,1948-06-18,1948.00000,1957-08-31,1957.00000,3362,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1685,461.00000,Indo-Hyderabad,3.00000,-8.00000,Hyderabad,2.00000,1200.00000,1948-09-13,1948.00000,1948-09-17,1948.00000,5,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1686,462.00000,Third Sino-Tibetan,3.00000,-8.00000,Tibet,2.00000,3200.00000,1950-05-01,1950.00000,1950-10-28,1950.00000,181,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1687,463.00000,Franco-Tunisian,2.00000,-8.00000,Tunisia,2.00000,1000.00000,1952-01-18,1952.00000,1954-07-31,1954.00000,926,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1688,464.00000,British-Mau Mau,2.00000,-8.00000,Mau Mau,2.00000,16500.00000,1952-10-20,1952.00000,1956-10-01,1956.00000,1443,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1689,465.00000,Moroccan Independence,2.00000,-8.00000,Morocco,2.00000,1000.00000,1953-08-20,1953.00000,1956-03-12,1956.00000,936,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1690,466.00000,Third Franco-Algerian,2.00000,-8.00000,Algeria,2.00000,14000.00000,1954-11-01,1954.00000,1962-03-17,1962.00000,2694,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1691,467.00000,French-Cameroon,2.00000,-8.00000,UPC,2.00000,900.00000,1957-01-01,1957.00000,1958-01-05,1958.00000,370,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1692,469.00000,Angolan-Portuguese,2.00000,-8.00000,Angola,2.00000,25000.00000,1961-02-03,1961.00000,1974-10-14,1974.00000,5002,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1693,471.00000,Mozambique-Portuguese,2.00000,-8.00000,Mozambique,2.00000,10000.00000,1964-09-25,1964.00000,1975-06-25,1975.00000,3926,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1694,472.00000,"East Timorese, Phase 2",3.00000,-8.00000,Fretilin & UDT,2.00000,20000.00000,1975-10-16,1975.00000,1976-07-17,1976.00000,276,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1695,473.00000,Namibian,2.00000,-8.00000,SWAPO-Namibia,2.00000,19000.00000,1975-10-17,1975.00000,1988-12-13,1988.00000,4807,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1696,474.00000,Western Saharan,3.00000,-8.00000,Polisario,2.00000,4000.00000,1975-12-11,1975.00000,1983-12-23,1983.00000,2935,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1698,475.00000,Khmer Insurgency,3.00000,-8.00000,Khmer Rouge,2.00000,nan,1979-01-09,1979.00000,1989-09-25,1989.00000,3913,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1699,476.00000,Soviet Quagmire,3.00000,-8.00000,Muhajadin,2.00000,50000.00000,1980-02-22,1980.00000,1989-02-15,1989.00000,3282,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1700,477.00000,First PKK in Iraq,3.00000,-8.00000,PKK in Iraq,2.00000,2000.00000,1991-08-04,1991.00000,1992-03-25,1992.00000,235,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1701,479.00000,Second PKK in Iraq,3.00000,-8.00000,PKK in Iraq,2.00000,2500.00000,1997-05-14,1997.00000,1997-06-14,1997.00000,32,0.00000,nan,nan,nan,Extra-State War,Imperial (state vs non-state),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1702,480.00000,Al Aqsa Intifada,2.00000,-8.00000,Palestinians,2.00000,3400.00000,2000-09-28,2000.00000,2003-09-09,2003.00000,1077,0.00000,nan,nan,nan,Extra-State War,Colonial (conflict with colony),nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [8]:
initial_descriptive_columns = deepcopy(set(list(dyad_df.columns)))

descriptive_df_2 = pd.read_pickle(pickle_directory + 'dyadic_descriptive_df.pkl')
dyad_df = deepcopy(pd.merge(dyad_df, descriptive_df_2, how='left', on=['c_code_a', 'c_code_b', 'year']))

print('Counting Total Dyadic War and Year Combinations by Descriptive Field\n')
the_networks_of_war_python_functions.print_new_fields(dyad_df, initial_descriptive_columns, None)

Counting Total Dyadic War and Year Combinations by Descriptive Field

        inter_governmental_organizations  840
                         trade_relations  734
                                   mtops  476
                              contiguity  384
                   nelective_legislature  208
                multi_party_state_exists  173
                     diplomatic_exchange  132
                           dictatorships  119
                     colonial_contiguity  108
                                    atop   83
          defense_cooperation_agreements   82
                     non_elected_leaders   79
                      territory_exchange   68
                                alliance   67
                        same_leader_type   42
           multi_party_legislature_legal   36
             no_non_regime_parties_exist   35
                        military_leaders   25
           no_partisan_legislature_legal   23
                       indirect_election   19
 no_non_regime_legislature_parties_legal   14
                         direct_election   13
                          no_legislature   13
                      democratic_regimes   12
                        one_party_exists    9
                       communist_leaders    6
                non_elective_legislature    3
                     all_parties_illegal    2
               single_party_state_exists    2
                        no_parties_exist    1

## Finalizing Participant and Dyadic Dataframes

### Keeping values for first and last year of each dyad
### Combining these into one row per dyad

In [9]:
dyad_df['year'] = dyad_df['year'].astype(float)

## creating unique identifier "conflict_pair" for each dyad
## based on name
for i, participant_a in enumerate(dyad_df['participant_a']):
    ## standardizing participant names with ccode when available
    dyad_list = []
    if dyad_df.loc[i, 'c_code_a'] in c_code_dic.keys():
        dyad_list.append(str(dyad_df.loc[i, 'c_code_a']))
    else:
        dyad_list.append(participant_a)
    if dyad_df.loc[i, 'c_code_b'] in c_code_dic.keys():
        dyad_list.append(str(dyad_df.loc[i, 'c_code_b']))
    else:
        dyad_list.append(dyad_df.loc[i, 'participant_b'])
    dyad_list = str(sorted(dyad_list))
    dyad_df.loc[i, 'conflict_pair'] = dyad_list

dyad_df_columns = ['war_num',
                   'year',
                   'participant_a',
                   'participant_b',
                   'conflict_pair']

for column in list(descriptive_df_2.columns):
    dyad_df_columns.append(column)
## not including any row without any participants
dyad_df = deepcopy(dyad_df[(dyad_df['participant_a'].isnull()==False) & (dyad_df['participant_b'].isnull()==False)])

## creating new dyad_df to get the max of each field during all the years of the dyad
max_dyad_df = deepcopy(dyad_df)
descriptive_columns =  list(descriptive_df_2.columns)
descriptive_columns.remove('year')
descriptive_columns.remove('c_code_a')
descriptive_columns.remove('c_code_b')
aggregations = {}
for column in descriptive_columns:
    max_dyad_df.rename({column: column + '_z'}, axis=1, inplace=True)
    aggregations[column + '_z'] = 'max'
max_dyad_df = deepcopy(max_dyad_df.groupby(['war_num', 'conflict_pair']).agg(aggregations).reset_index())

first_year_dyad_df = deepcopy(dyad_df)
first_year_dyad_df.sort_values(by='year', ascending=True, inplace=True)
## keeping the values for only the first year of conflict within a given dyad
## need to dedupe across conflict pair so a vs b are never repeated interchangably
first_year_dyad_df.drop_duplicates(subset=['war_num', 'conflict_pair'], keep='first', inplace=True)
first_year_dyad_df.rename({'year': 'first_year'}, axis=1, inplace=True)

last_year_dyad_df = deepcopy(dyad_df)
last_year_dyad_df.sort_values(by='year', ascending=True, inplace=True)
## keeping the values for only the last year of conflict within a given dyad
## need to dedupe across conflict pair so a vs b are never repeated interchangably
last_year_dyad_df.drop_duplicates(subset=['war_num', 'conflict_pair'], keep='last', inplace=True)
last_year_dyad_df.rename({'year': 'last_year'}, axis=1, inplace=True)

## combining first and last year dyads into one dataframe
dyad_df = deepcopy(pd.merge(first_year_dyad_df, last_year_dyad_df, how='left', on=['conflict_pair', 'war_num']))
## combining the maximum df into the final version of the dataframe
dyad_df = deepcopy(pd.merge(dyad_df, max_dyad_df, how='left', on=['conflict_pair', 'war_num']).reset_index(drop=True))
## changing column names and then dropping duplicates
## adding them into the join woudl fail (since not all have c_codes)
for column in dyad_df.columns:
    if column[-4:]=='_a_x' or column[-4:]=='_b_x':
        dyad_df.rename({column: column[:-2]}, axis=1, inplace=True)
    elif column[-4:]=='_a_y' or column[-4:]=='_b_y':
        dyad_df.drop([column], axis=1, inplace=True)

In [10]:
print('Counting Total Dyadic War Combinations (Overall) by Descriptive Field\n')
max_dyad_columns = list(max_dyad_df.drop(['war_num',
                                          'conflict_pair'], axis=1).columns)
the_networks_of_war_python_functions.print_new_fields(dyad_df, None, max_dyad_columns)

# print('Counting Total Dyadic War Combinations by Descriptive Field\n')
# descriptive_dyad_columns = list(dyad_df.drop(['war_num',
#                                               'c_code_a',
#                                               'c_code_b',
#                                               'participant_a',
#                                               'participant_b',
#                                               'first_year',
#                                               'last_year'], axis=1).columns)
# the_networks_of_war_python_functions.print_new_fields(dyad_df, None, descriptive_dyad_columns)

Counting Total Dyadic War Combinations (Overall) by Descriptive Field

 Overall         inter_governmental_organizations  364
 Overall                          trade_relations  307
 Overall                                    mtops  229
 Overall                               contiguity  186
 Overall                      diplomatic_exchange  117
 Overall                 multi_party_state_exists   89
 Overall                    nelective_legislature   82
 Overall                                     atop   76
 Overall                       territory_exchange   62
 Overall                                 alliance   56
 Overall           defense_cooperation_agreements   55
 Overall                      colonial_contiguity   51
 Overall                            dictatorships   50
 Overall                      non_elected_leaders   33
 Overall            multi_party_legislature_legal   29
 Overall                         same_leader_type   21
 Overall                         military_leaders   15
 Overall                        indirect_election   13
 Overall              no_non_regime_parties_exist   12
 Overall            no_partisan_legislature_legal   11
 Overall                       democratic_regimes    9
 Overall                          direct_election    7
 Overall                           no_legislature    6
 Overall  no_non_regime_legislature_parties_legal    6
 Overall                         one_party_exists    5
 Overall                        communist_leaders    4
 Overall                      all_parties_illegal    2
 Overall                 non_elective_legislature    2
 Overall                single_party_state_exists    2
 Overall                         no_parties_exist    1

### Addressing in null values, missing data, and conversions for dyads and participants

In [11]:
conversion_dic = {'money_flow_in': 1000000,
                  'money_flow_out': 1000000,
                  'military_expenditure': 1000,
                  'military_personnel': 1000,
                  'total_population': 1000,
                  'urban_population': 1000,
                  ## these are thousands of tons
                  'iron_steel_production': 2000000,
                  'prim_energy_consumption': 2000000
                 }
print('\nAddressng null values, missing data, and conversions for part_df.')
part_df = deepcopy(the_networks_of_war_python_functions.column_fills_and_converions(part_df, 'participant', conversion_dic))

print('\nAddressng null values, missing data, and conversions for dyad_df.')
dyad_df = deepcopy(the_networks_of_war_python_functions.column_fills_and_converions(dyad_df, 'dyad', None))

Addressng null values, missing data, and conversions for part_df.

Total Columns Adjusted: 32
Total Columns Adjusted for Conversion: 16
Total Null Values Notated: 27,561
Total Unknown Values Notated: 476

Addressng null values, missing data, and conversions for dyad_df.

Total Columns Adjusted: 90
Total Columns Adjusted for Conversion: 0

### Saving the data

In [12]:
print('Total Participants: {}'.format(format(len(part_df), ',d')))
print('Total Dyadic Combinations: {}'.format(format(len(dyad_df), ',d')))
print('Total Wars: {}'.format(format(len(war_df), ',d')))

part_df.to_pickle(pickle_directory + 'part_df.pkl')
dyad_df.to_pickle(pickle_directory + 'dyad_df.pkl')
war_df.to_pickle(pickle_directory + 'war_df.pkl')

Total Participants: 1,713
Total Dyadic Combinations: 1,086
Total Wars: 678

In [13]:
# part_df = pd.read_pickle(pickle_directory + 'part_df.pkl')
# dyad_df = pd.read_pickle(pickle_directory + 'dyad_df.pkl')
# war_df = pd.read_pickle(pickle_directory + 'war_df.pkl')

## JSON Export for D3.js Processing

In [14]:
war_column_list = deepcopy(list(war_df.columns))
## dropping fields that won't be needed in the participant section of the json file
## values may also differ between those in part_df and war_df.
## those in war_df have undergone additional preprocessing.
part_column_list = deepcopy(list(part_df.drop(['war_num',
                                               'war_name',
                                               'war_type',
                                               'war_sub_type',
                                               'total_deaths_both_sides'], axis=1).columns))
## dropping fields that won't be needed in the dyad section of the json file
dyad_column_list = deepcopy(list(dyad_df.drop(['war_num',
                                               'c_code_a',
                                               'c_code_b',
                                               'participant_a',
                                               'participant_b'], axis=1).columns))

print('\nUpdating/recreating one JSON file per war_num.')
print('JSON Files to be Rewritten: {}\n'.format(format(len(war_df), ',d')))

for i, war in enumerate(war_df['war_num']):
    
    file_name = deepcopy('war_num_' + str(war).replace('.', '_') + '.json')
    ## need to filter by war here because i does not follow the sorting of the dataframe
    war_df.loc[war_df['war_num']==war, 'file_name'] = file_name
    ## rewriting all of the files each time
    graph_file = open(csv_output_directory + 'json_files_by_war/' + file_name, 'w').close()
    graph_file = open(csv_output_directory + 'json_files_by_war/' + file_name, 'w')
    
    part_df_copy = deepcopy(part_df[part_df['war_num']==war].reset_index(drop=True))
    dyad_df_copy = deepcopy(dyad_df[dyad_df['war_num']==war].reset_index(drop=True))
    war_df_copy = deepcopy(war_df[war_df['war_num']==war].reset_index(drop=True))
    
    if len(part_df_copy)==0:
        print('No participants for war_num {} ({}), {} dyads'.format(war, war_df_copy.loc[0, 'war_name'], len(part_df_copy)))
    if len(dyad_df_copy)==0:
        print('No dyads for war_num {} ({}), {} participants'.format(war, war_df_copy.loc[0, 'war_name'], len(part_df_copy)))
        
    war_line = ''
    for i, column in enumerate(war_column_list):
        if i==0:
            war_line = deepcopy(war_line + '"' + column + '": "' + str(war_df_copy.loc[0, column]))
        else:
            war_line = deepcopy(war_line + '", "' + column + '": "' + str(war_df_copy.loc[0, column]))

    graph_file.write('{\n  "war": [\n    {' + war_line + '"}\n')

    node_names = []
    sides = []
    for i, participant in enumerate(part_df_copy['participant']):
        ## assigning the input based on whether a c_code is available
        ## this will be used to link part_df_copy to the dyad_df_copy
        ## (since c_code is not always availablen and participant names are not standardized)
        c_code_input = part_df_copy.loc[i, 'c_code']
        if str(c_code_input)[0] in str(np.arange(0, 10)):
            node_names.append(part_df_copy.loc[i, 'c_code'])
        else:
            node_names.append(participant)
        sides.append(part_df_copy.loc[i, 'side'])
        
    participant_line = ''
    for i, participant in enumerate(part_df_copy['participant']):
        ## this process begins the writing of the file and is completely separate from the one above
        participant_line = deepcopy(participant_line + '    {"id": "' + str(i))
        for column in part_column_list:
            participant_line = deepcopy(participant_line + '", "' + column + '": "' + str(part_df_copy.loc[i, column]))
        participant_line = deepcopy(participant_line + '"},\n')

    graph_file.write('  ],\n  "nodes": [\n' + participant_line[:-2] + '\n')

    link_line = ''
    dyad_inputs = []
    for i, node_1 in enumerate(dyad_df_copy['c_code_a']):
        ## assigning the input based on whether a c_code is available
        if str(dyad_df_copy.loc[i, 'c_code_a'])[0] in str(np.arange(0, 10)):
            node_1_input = node_1
            dyad_inputs.append(node_1)
        else:
            node_1_input = dyad_df_copy.loc[i, 'participant_a']
            dyad_inputs.append(node_1_input)
        ## assigning the input based on whether a c_code is available
        if str(dyad_df_copy.loc[i, 'c_code_b'])[0] in str(np.arange(0, 10)):
            node_2_input = dyad_df_copy.loc[i, 'c_code_b']
            dyad_inputs.append(node_2_input)
        else:
            node_2_input = dyad_df_copy.loc[i, 'participant_b']
            dyad_inputs.append(node_2_input)
        ## sometimes a country could be in the dyad and not in the participant df_copy.
        ## this is rare but has happened (see Spain in WWII)
        ## should be taken care of in processes above, so checking below to see if that process failed
        if node_1_input not in node_names:
            print("Participant Missing in Dyadic Data: {} ({}) for {}.".format(dyad_df_copy.loc[i, 'participant_a'], int(dyad_df_copy.loc[i, 'c_code_a']), war_df_copy.loc[0, 'war_name']))   
        elif node_2_input not in node_names:
            print("Participant Missing in Dyadic Data: {} {} for {}.".format(dyad_df_copy.loc[i, 'participant_b'], int(dyad_df_copy.loc[i, 'c_code_b']), war_df_copy.loc[0, 'war_name']))   
        else:
            link_line = deepcopy(link_line
                + '    {"source": "' + str(node_names.index(node_1_input))
                + '", "target": "' + str(node_names.index(node_2_input)))
            for column in dyad_column_list:
                link_line = deepcopy(link_line + '", "' + column + '": "' + str(dyad_df_copy.loc[i, column]))
            link_line = deepcopy(link_line + '"},\n')
            ## checking for any dyads that are paired with participants on the same side as them
            ## this would most likely suggest a mistake in pre-processing
            ## does not apply to side 3 (switched sides)
            if sides[node_names.index(node_1_input)]==sides[node_names.index(node_2_input)] and sides[node_names.index(node_1_input)]!=3:
                print('Dyads on the Same Side: {} {} and {} {} for {}.'.format(dyad_df_copy.loc[i, 'participant_a'], int(dyad_df_copy.loc[i, 'c_code_a']), dyad_df_copy.loc[i, 'participant_b'], int(dyad_df_copy.loc[i, 'c_code_b']), war_df_copy.loc[0, 'war_name']))   
                         
    graph_file.write('  ],\n  "links": [\n' + link_line[:-2] + '\n\n  ]\n}')

    for node in node_names:
        if node not in dyad_inputs:
            if int(str(node)[0]) in np.arange(0, 10):
                print('Floating Node in {}: {}'.format(war_df_copy.loc[0, 'war_name'],
                                                       c_code_dic[node]))
            else:
                print('Floating Node in {}: {}'.format(war_df_copy.loc[0, 'war_name'],
                                                       node))
                
print('\nCompleted JSON File Updates.')

print('\nUpdating war_file_list.csv')
war_df.to_csv(csv_output_directory + 'war_file_list.csv', index=None)
print('\nCompleted war_file_list update.')

Updating/recreating one JSON file per war_num.
JSON Files to be Rewritten: 678

Floating Node in Third Somalia War: Eritrea
Floating Node in Africa's World War: Rwanda
Floating Node in Africa's World War: Burundi
Floating Node in Africa's World War: Uganda
Floating Node in Second South Sudan War: Uganda
Floating Node in Fourth Lebanese War: Iran
Floating Node in Fourth Lebanese War: Syria
Floating Node in Chad - FAN War: France
Floating Node in Chad - FAN War: Democratic Republic of the Congo
Floating Node in Second Ogaden War phase 3: Somalia
Floating Node in Third Lebanese War: Israel
Floating Node in Chad - FAP War: Libya
Floating Node in Angolan Control War: South Africa
Floating Node in Western Saharan: Algeria
Floating Node in First Khmer Rouge War: Vietnam
Floating Node in Vietnam War phase 1: Vietnam
Floating Node in First Laotian War: Vietnam
Floating Node in First Lebanese War: Syria
Floating Node in Spanish Civil War: Portugal
Floating Node in Spanish Civil War: Germany
Floating Node in Spanish Civil War: Italy
Floating Node in Gilan Marxists Rebellion: Russia
Floating Node in Finnish Civil War: Russia
Floating Node in World War I: Japan

Completed JSON File Updates.

Updating war_file_list.csv

Completed war_file_list update.