In [1]:
from warnings import filterwarnings

filterwarnings('ignore')

import pandas as pd
import numpy as np
from copy import deepcopy

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
pwd

'/Users/charlieyaris/github/cyaris.github.io/assets/the_networks_of_war'

In [4]:
df = pd.read_csv('/Users/the_networks_of_war/data_sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')

aggregations = {
    'ccode': 'count'
    }

grouped_df = df.groupby(['WarName', 'WarNum']).agg(aggregations).reset_index()
grouped_df.rename({'ccode': 'total_instances'}, axis = 1, inplace = True)
grouped_df.sort_values(by = 'total_instances', ascending = False).head(10)

                 WarName  WarNum  total_instances
93          World War II     139               29
44                Korean     151               16
92           World War I     106               15
34              Gulf War     211               14
70           Seven Weeks      55               11
86        War for Kosovo     221                8
84  Vietnam War, Phase 2     163                8
94        Yom Kippur War     181                6
1           Arab-Israeli     148                6
8        Boxer Rebellion      82                6

In [24]:
dyad_df = pd.read_csv('/Users/the_networks_of_war/data_sources/directed_dyadic_war.csv', encoding = 'latin-1')
dyad_df.rename({'warnum': 'war_num', 'statea': 'c_code_a', 'stateb': 'c_code_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(dyad_df[(dyad_df['war_num']==106) & (dyad_df['durindx']==1)][['war_num', 'c_code_a', 'c_code_b', 'year']])

In [25]:
c_code_df = pd.read_csv('/Users/the_networks_of_war/data_sources/COW country codes.csv', encoding = 'utf8')
c_code_df.rename({'CCode': 'c_code',
                  'StateNme': 'state_name'}, axis = 1, inplace = True)
c_code_df.drop(['StateAbb'], axis = 1, inplace = True)

In [26]:
c_code_df.rename({'c_code': 'c_code_a',
                  'state_name': 'state_name_a'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(c_code_df, dyad_df, on = 'c_code_a'))
c_code_df.rename({'c_code_a': 'c_code_b',
                  'state_name_a': 'state_name_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(c_code_df, dyad_df, on = 'c_code_b'))

In [27]:
mil_cap_df = pd.read_csv('/Users/the_networks_of_war/data_sources/NMC_5_0-wsupplementary.csv', encoding = 'latin-1')

mil_cap_df.rename({'year': 'start_year_a',
                   'milex': 'military_expenditure_a',
                   'milper': 'military_personnel_a',
                   'irst': 'iron_steel_production_a',
                   'pec': 'prim_energy_consumption_a',
                   'tpop': 'total_population_a',
                   'upop': 'urban_population_a',
                   'upopgrowth': 'urban_pop_growth_rate_a',
                   'ccode': 'c_code_a',
                   'statenme': 'state_name_a',
                   'cinc': 'cinc_score_a'}, axis = 1, inplace = True)

mil_cap_df['military_expenditure_a'] = ([s * 1000 for s in mil_cap_df['military_expenditure_a']])
mil_cap_df['military_personnel_a'] = ([s * 1000 for s in mil_cap_df['military_personnel_a']])
mil_cap_df['total_population_a'] = ([s * 1000 for s in mil_cap_df['total_population_a']])
mil_cap_df['urban_population_a'] = ([s * 1000 for s in mil_cap_df['urban_population_a']])
mil_cap_df['iron_steel_production_a'] = ([s * 2000000 for s in mil_cap_df['iron_steel_production_a']])
mil_cap_df['prim_energy_consumption_a'] = ([s * 2000000 for s in mil_cap_df['prim_energy_consumption_a']])

mil_cap_df.loc[mil_cap_df['military_expenditure_a'] == -9000, 'military_expenditure_a'] = 0
mil_cap_df.loc[mil_cap_df['military_personnel_a'] == -9000, 'military_personnel_a'] = 0
mil_cap_df.loc[mil_cap_df['total_population_a'] == -9000, 'total_population_a'] = 0
mil_cap_df.loc[mil_cap_df['urban_population_a'] == -9000, 'urban_population_a'] = 0
mil_cap_df.loc[mil_cap_df['iron_steel_production_a'] == -18000000 , 'iron_steel_production_a'] = 0
mil_cap_df.loc[mil_cap_df['prim_energy_consumption_a'] == -18000000 , 'prim_energy_consumption_a'] = 0

mil_cap_df = mil_cap_df.sort_values(by = 'start_year_a', ascending = True).reset_index()

mil_cap_df = deepcopy(mil_cap_df[['c_code_a',
                                  'start_year_a',
                                  'military_expenditure_a',
                                  'military_personnel_a',
                                  'prim_energy_consumption_a',
                                  'iron_steel_production_a',
                                  'total_population_a',
                                  'urban_population_a',
                                  'cinc_score_a']])

In [28]:
participant_df = pd.read_csv('/Users/the_networks_of_war/data_sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')
participant_df['start_date'] = pd.to_datetime(participant_df['StartYear1'].astype(str) + "-" + participant_df['StartMonth1'].astype(str) + "-" + participant_df['StartDay1'].astype(str))
participant_df['end_date'] = pd.to_datetime(participant_df['EndYear1'].astype(str) + "-" + participant_df['EndMonth1'].astype(str) + "-" + participant_df['EndDay1'].astype(str))
participant_df['days_at_war'] = participant_df['end_date'] - participant_df['start_date']
participant_df = deepcopy(participant_df[participant_df['WarNum']==106][['WarNum',
                                                                         'WarName',
                                                                         'WarType',
                                                                         'ccode',
                                                                         'Side',
                                                                         'BatDeath',
                                                                         'start_date',
                                                                         'StartYear1',
                                                                         'end_date',
                                                                         'EndYear1',
                                                                         'days_at_war']])
participant_df.rename({'WarNum': 'war_num',
                       'WarName': 'war_name',
                       'WarType': 'war_type',
                       'ccode': 'c_code_a',
                       'Side': 'side_a',
                       'BatDeath': 'battle_deaths_a',
                       'start_date': 'start_date_a',
                       'StartYear1': 'start_year_a',
                       'end_date': 'end_date_a',
                       'EndYear1': 'end_year_a',
                       'days_at_war': 'days_at_war_a'}, axis = 1, inplace = True)

In [29]:
dyad_df = deepcopy(pd.merge(dyad_df, participant_df, on = ['war_num', 'c_code_a']))
participant_df.drop(['war_name', 'war_type'], axis = 1, inplace = True)
participant_df.rename({'c_code_a': 'c_code_b',
                       'side_a': 'side_b',
                       'battle_deaths_a': 'battle_deaths_b',
                       'start_date_a': 'start_date_b',
                       'start_year_a': 'start_year_b',
                       'end_date_a': 'end_date_b',
                       'end_year_a': 'end_year_b',
                       'days_at_war_a': 'days_at_war_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(dyad_df, participant_df, on = ['war_num', 'c_code_b']))

In [30]:
dyad_df = deepcopy(pd.merge(dyad_df, mil_cap_df, on = ['start_year_a', 'c_code_a']))
mil_cap_df.rename({'c_code_a': 'c_code_b',
                   'start_year_a': 'start_year_b',
                   'military_expenditure_a': 'military_expenditure_b',
                   'military_personnel_a': 'military_personnel_b',
                   'prim_energy_consumption_a': 'prim_energy_consumption_b',
                   'iron_steel_production_a': 'iron_steel_production_b',
                   'total_population_a': 'total_population_b',
                   'urban_population_a': 'urban_population_b',
                   'cinc_score_a': 'cinc_score_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(dyad_df, mil_cap_df, on = ['start_year_b', 'c_code_b']))

In [31]:
dyad_union_df = deepcopy(dyad_df)
## doing these inefficient column name changes to fill in for a much needed sql union of mismatching column names
dyad_union_df.rename({'c_code_a': 'c_code_new_a',
                      'c_code_b': 'c_code_new_b',
                      'state_name_a': 'state_name_new_a',
                      'state_name_b': 'state_name_new_b',
                      'side_a': 'side_a_new',
                      'side_b': 'side_b_new',
                      'battle_deaths_a': 'battle_deaths_a_new',
                      'battle_deaths_b': 'battle_deaths_b_new',
                      'start_date_a': 'start_date_a_new',
                      'start_date_b': 'start_date_b_new',
                      'end_date_a': 'end_date_a:new',
                      'end_date_b': 'end_date_b_new',
                      'days_at_war_a': 'days_at_war_a_new',
                      'days_at_war_b': 'days_at_war_b_new',
                      'military_expenditure_a': 'military_expenditure_a_new',
                      'military_expenditure_b': 'military_expenditure_b_new',
                      'military_personnel_a': 'military_personnel_a_new',
                      'military_personnel_b': 'military_personnel_b_new',
                      'prim_energy_consumption_a': 'prim_energy_consumption_a_new',
                      'prim_energy_consumption_b': 'prim_energy_consumption_b_new',
                      'iron_steel_production_a': 'iron_steel_production_a_new',
                      'iron_steel_production_b': 'iron_steel_production_b_new',
                      'total_population_a': 'total_population_a_new',
                      'total_population_b': 'total_population_b_new',
                      'urban_population_a': 'urban_population_a_new',
                      'urban_population_b': 'urban_population_b_new',
                      'cinc_score_a': 'cinc_score_a_new',
                      'cinc_score_b': 'cinc_score_b_new'}, axis = 1, inplace = True)
dyad_union_df.rename({'c_code_new_a': 'c_code_b',
                      'c_code_new_b': 'c_code_a',
                      'state_name_new_a': 'state_name_b',
                      'state_name_new_b': 'state_name_a',
                      'side_a_new': 'side_b',
                      'side_b_new': 'side_a',
                      'battle_deaths_a_new': 'battle_deaths_b',
                      'battle_deaths_b_new': 'battle_deaths_a',
                      'start_date_a_new': 'start_date_b',
                      'start_date_b_new': 'start_date_a',
                      'end_date_a_new': 'end_date_b',
                      'end_date_b_new': 'end_date_a',
                      'days_at_war_a_new': 'days_at_war_b',
                      'days_at_war_b_new': 'days_at_war_a',
                      'military_expenditure_a_new': 'military_expenditure_b',
                      'military_expenditure_b_new': 'military_expenditure_a',
                      'military_personnel_a_new': 'military_personnel_b',
                      'military_personnel_b_new': 'military_personnel_a',
                      'prim_energy_consumption_a_new': 'prim_energy_consumption_b',
                      'prim_energy_consumption_b_new': 'prim_energy_consumption_a',
                      'iron_steel_production_a_new': 'iron_steel_production_b',
                      'iron_steel_production_b_new': 'iron_steel_production_a',
                      'total_population_a_new': 'total_population_b',
                      'total_population_b_new': 'total_population_a',
                      'urban_population_a_new': 'urban_population_b',
                      'urban_population_b_new': 'urban_population_a',
                      'cinc_score_a_new': 'cinc_score_b',
                      'cinc_score_b_new': 'cinc_score_a'}, axis = 1, inplace = True)

dyad_df = deepcopy(pd.concat([dyad_df, dyad_union_df])).reset_index()

In [35]:
for i, country_code_a in enumerate(dyad_df['c_code_a']):
    dyad_df.loc[i, 'days_at_war_a'] = int(str(dyad_df.loc[i, 'days_at_war_a']).split(' ')[0])
    dyad_df.loc[i, 'days_at_war_b'] = int(str(dyad_df.loc[i, 'days_at_war_b']).split(' ')[0])
    if int(country_code_a) < int(dyad_df.loc[i, 'c_code_b']):
        dyad_df.loc[i, 'conflict_pair'] = str(country_code_a) + " " + str(dyad_df.loc[i, 'c_code_b'])
    else:
        dyad_df.loc[i, 'conflict_pair'] = str(dyad_df.loc[i, 'c_code_b']) + " " + str(country_code_a)

dyad_df.sort_values(by = 'year', ascending = True, inplace = True)
connections_df = deepcopy(dyad_df[['war_num',
                                   'war_name',
                                   'war_type',
                                   'c_code_a',
                                   'state_name_a',
                                   'c_code_b',
                                   'state_name_b',
                                   'conflict_pair']])
duplicate_list = ['conflict_pair']
connections_df.drop_duplicates(subset = duplicate_list, keep = 'first', inplace = True)
connections_df = deepcopy(connections_df.reset_index(drop = True))

## keeping final non-null value recorded for total lost in battle
dyad_df.sort_values(by = ['c_code_a','battle_deaths_a'], ascending = (True, False), inplace = True)
countries_df = deepcopy(dyad_df[['war_num',
                                 'war_name',
                                 'war_type',
                                 'c_code_a',
                                 'state_name_a',
                                 'battle_deaths_a',
                                 'side_a',
                                 'start_year_a',
                                 'start_date_a',
                                 'end_year_a',
                                 'end_date_a',
                                 'days_at_war_a',
                                 'military_expenditure_a',
                                 'military_personnel_a',
                                 'prim_energy_consumption_a',
                                 'iron_steel_production_a',
                                 'total_population_a',
                                 'urban_population_a',
                                 'cinc_score_a'
                                ]])
duplicate_list = ['c_code_a']
countries_df.drop_duplicates(subset = duplicate_list, keep = 'first', inplace = True)
countries_df = deepcopy(countries_df.reset_index(drop=True))

In [36]:
countries_df.head()

,war_num,war_name,war_type,c_code_a,state_name_a,battle_deaths_a,side_a,start_date_a,start_year_a,end_date_a,end_year_a,days_at_war_a,military_expenditure_a,military_personnel_a,prim_energy_consumption_a,iron_steel_production_a,total_population_a,urban_population_a,cinc_score_a
0,106,World War I,1,2,United States of America,116516,1,1917-04-17,1917,1918-11-11,1918,573,658584000,644000,1421918000000,91568000000,103268000.0,25310000.0,0.244028
1,106,World War I,1,200,United Kingdom,908371,1,1914-08-05,1914,1918-11-11,1918,1559,1678843000,532000,427984000000,15942000000,46048000.0,17852000.0,0.137909
2,106,World War I,1,211,Belgium,13716,1,1914-08-04,1914,1918-11-11,1918,1560,9847000,115000,33400000000,2792000000,7684000.0,894000.0,0.011733
3,106,World War I,1,220,France,1385000,1,1914-08-03,1914,1918-11-11,1918,1561,1235000000,789000,90168000000,5604000000,33220000.0,5906000.0,0.074748
4,106,World War I,1,235,Portugal,7222,1,1916-03-01,1914,1918-11-11,1918,985,6425000,125000,2182000000,0,6000000.0,592000.0,0.002671

In [34]:
## manually filling in missing battle numbers from google search.
## https://en.wikipedia.org/wiki/World_War_II_casualties
## to be investigated across all cow datasets later for whether they are located elsewhere.

# countries_df.loc[(countries_df['state_name_a']=='Japan') & (countries_df['warnum']==139), 'batdtha'] = 2300000
# countries_df.loc[(countries_df['state_name_a']=='France') & (countries_df['warnum']==139), 'batdtha'] = 600000

In [47]:
network_nodes = list(countries_df['state_name_a'])

graph_file = open("the_networks_of_war.json", 'w+')

json_dic = {}
json_dic['nodes'] = {}
json_dic['links'] = {}
start_line = '{\n  "nodes": [\n'
middle_line = '  ],\n  "links": [\n'
end_line = '\n  ]\n}'

graph_file.write(start_line)
for i, node in enumerate(countries_df['state_name_a']):
    if node == network_nodes[-1]:
        add_line = (
            '    {"country": "' + node
            + '", "side": "' + str(countries_df.loc[i, 'side_a'])
            + '", "battle_deaths": "' + str(countries_df.loc[i, 'battle_deaths_a'])
            + '", "start_year": "' + str(countries_df.loc[i, 'start_year_a'])
            + '", "start_date": "' + str(countries_df.loc[i, 'start_date_a'])
            + '", "end_year": "' + str(countries_df.loc[i, 'end_year_a'])
            + '", "end_date": "' + str(countries_df.loc[i, 'end_date_a'])
            + '", "days_at_war": "' + str(countries_df.loc[i, 'days_at_war_a'])
            + '", "military_expenditure": "' + str(countries_df.loc[i, 'military_expenditure_a'])
            + '", "military_personnel": "' + str(countries_df.loc[i, 'military_personnel_a'])
            + '", "prim_energy_consumption": "' + str(countries_df.loc[i, 'prim_energy_consumption_a'])
            + '", "iron_steel_production": "' + str(countries_df.loc[i, 'iron_steel_production_a'])
            + '", "total_population": "' + str(countries_df.loc[i, 'total_population_a'])
            + '", "urban_population": "' + str(countries_df.loc[i, 'urban_population_a'])
            + '", "cinc_score": "' + str(countries_df.loc[i, 'cinc_score_a']) + '"'
            + '}\n'
        )
        graph_file.write(add_line)
    else:
        add_line = (
            '    {"country": "' + node
            + '", "side": "' + str(countries_df.loc[i, 'side_a'])
            + '", "battle_deaths": "' + str(countries_df.loc[i, 'battle_deaths_a'])
            + '", "start_year": "' + str(countries_df.loc[i, 'start_year_a'])
            + '", "start_date": "' + str(countries_df.loc[i, 'start_date_a'])
            + '", "end_year": "' + str(countries_df.loc[i, 'end_year_a'])
            + '", "end_date": "' + str(countries_df.loc[i, 'end_date_a'])
            + '", "days_at_war": "' + str(countries_df.loc[i, 'days_at_war_a'])
            + '", "military_expenditure": "' + str(countries_df.loc[i, 'military_expenditure_a'])
            + '", "military_personnel": "' + str(countries_df.loc[i, 'military_personnel_a'])
            + '", "prim_energy_consumption": "' + str(countries_df.loc[i, 'prim_energy_consumption_a'])
            + '", "iron_steel_production": "' + str(countries_df.loc[i, 'iron_steel_production_a'])
            + '", "total_population": "' + str(countries_df.loc[i, 'total_population_a'])
            + '", "urban_population": "' + str(countries_df.loc[i, 'urban_population_a'])
            + '", "cinc_score": "' + str(countries_df.loc[i, 'cinc_score_a']) + '"'
            + '},\n'
        )
        graph_file.write(add_line)        

graph_file.write(middle_line)

for i, node_1 in enumerate(connections_df['state_name_a']):
    if i+1 != len(connections_df['state_name_a']):
        add_line = (
            '    {"source": ' + str(network_nodes.index(node_1))
            + ', "target": ' + str(network_nodes.index(connections_df.loc[i, 'state_name_b']))
            + ', "bond": ' + str(1)
            + '},\n'
        )
        graph_file.write(add_line)
    else:
        add_line = (
            '    {"source": ' + str(network_nodes.index(node_1))
            + ', "target": ' + str(network_nodes.index(connections_df.loc[i, 'state_name_b']))
            + ', "bond": ' + str(1)
            + '}\n'
        )
        graph_file.write(add_line)

graph_file.write(end_line)

6